<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Matches</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:include="fragments/nav.html"></div>
<form>
<h1>Matches</h1>
<div th:include="fragments/success.html"></div>
<center><p>Do not see the results?<a th:href="@{/matches/new}" class="button">Add Result</a></p></center>
<table>
  <tr>
    <th>ID</th>
    <th>Player 1</th>
    <th>Player 2</th>
    <th>Winner</th>
    <th>Score</th>
    <th>Actions</th>
  </tr>
  <tr th:each="match : ${matches}">
    <td th:text="${match.id}"></td>
    <td th:text="${match.player1}"></td>
    <td th:text="${match.player2}"></td>
    <td th:text="${match.winner}"></td>
    <td th:text="${match.score}"></td>
    <td>
      <div class="action-buttons">
        <a th:href="@{/matches/{id}(id=${match.id})}" class="button">Edit</a>
        <a th:href="@{/matches/{id}/delete(id=${match.id})}" class="button">Delete</a>
      </div>
    </td>
  </tr>
</table>
</form>
<footer th:insert="fragments/footer.html"></footer>
</body>
</html>
