<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:include="fragments/nav.html"></div>
<form>
    <h1>About the Developer</h1>
    <center><p>Name: Patryk Walaszkowski</p>
    <p>In case of any issues noticed please <a href="mailto:gdx173010@student.gdansk.merito.pl" class="button">Email Us</a></p>
    </center>
</form>
<footer th:insert="fragments/footer.html"></footer>
</body>
</html>
