<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:include="fragments/nav.html"></div>
<form>
    <h1>Oops! Something went wrong.</h1>
    <p th:text="'Error Code: ' + ${status}"></p>
    <p th:text="${error}"></p>
    <p>
        <a th:href="@{/}" class="default-link">Go Back to Home</a>
    </p>
</form>
</div>
<footer th:insert="fragments/footer.html"></footer>
</body>
</html>
